torch==2.1.0+cu128
torchvision==0.16.0+cu128
torchaudio==2.1.0+cu128
cupy-cuda12x
matplotlib
pandas
numpy
librosa
soundfile
noisereduce
certifi
charset-normalizer
cmake
colorama
fbgemm-gpu
fbgemm-gpu-genai
filelock
flashinfer-python
fsspec
idna
intel-openmp
iopath
jinja2
lightning-utilities
lit
markupsafe
mkl
mpmath
mypy-extensions
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pillow
portalocker
pyre-extensions
pytorch-triton
pytorch-triton-rocm
pytorch-triton-xpu
requests
setuptools
sympy
tbb
torch
torch-cuda80
torch-model-archiver
torch-tb-profiler
torch-tensorrt
torchao
torchaudio
torchcodec
torchcsprng
torchdata
torchmetrics
torchrec
torchrec-cpu
torchserve
torchtext
torchvision
tqdm
triton
typing-extensions
typing-inspect
urllib3
vllm
xformers